
.html{
    overflow: hidden;
    font-style: italic;
    
}
*{
   
    text-transform: capitalize;
    transition: all .2s linear;
  }
  h1{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #40334d;
    text-decoration: underline;
    font-family: cursive;
    letter-spacing: .3rem;
    text-transform: capitalize;
    padding-left: 5rem;
    margin-top: 3rem;
  }
  img{
    width: 50px;
    height: 50px;
  }
.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-left: 37rem;
    border: 5px solid color(from darksalmon srgb r g b);
    border-color: color(from rgb(10, 9, 9) srgb r g b);
    width: 360px;
    height: 450px;
    border-radius: 1.5rem;
   background: linear-gradient(to right,purple,pink,purple);
  box-shadow: 15px 19px 6px gray;

}
body{
    background-image: url(img/22379914_6561278.jpg);
}
#inp{
    margin-left: .3rem;
    margin-top: 2rem;
}
.container input{
    width: 300px;
    height: 40px;
    font-size: x-large;
    color: transparent;
    border-color: color(from rgb(21, 15, 14) srgb r g b);
    box-shadow:4px 5px 2px gray ;
    border-width: 5px;
    color: #5f3887;
}
input:hover{
background-color: #e2e0ef;
background-color: black;
color: white;
}
.r{
    margin: .4rem;
    padding: 10px;
  
}
button{
    padding: 7px;
    font-size: larger;
    margin-left: 17px;
    width: 50px;
    border-color: color(from rgb(20, 19, 18) srgb r g b);
  border-width: 3px;
  box-shadow:4px 5px 2px gray ;
  color: #3f225d;
}
button:hover{
   transform: scale(1.3);
  background-color: rgb(217, 222, 123);
  background-color: black;
  color: white;
}
#s1:hover{
  background-color: rgb(233, 65, 65);
  color: black;
}
#s2:hover{
    background-color: rgb(241, 241, 85);
    color: black;
  }
  #s3:hover{
    background-color: rgb(233, 233, 111);
    color: black;
  }